:root{
    --primary:#00b0ff;
    --secondary:#1cd459;
    --danger:#d44646;
    --bg:#f1f1f1;
}
body{
    padding: 0;
    margin: 0;
}
h1{
  position: absolute;
  left: 0;
  right: 0;
  top: -20;
  color: white;
  padding: .5em;
  text-align: center;
  background-color: var(--primary);
}
.back{
  position: absolute;
  z-index: 10;
  color: white;
  background-color: white;
  padding: .5em;
  text-decoration: none;
  font-size: 1em;
}
.container{
  display: block;
  margin: 40% auto 0 auto;
  width: 100%;
  max-width: 480px;
  padding-bottom: 1em;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
table,th,td{
  border: 2px solid black;
  padding: .3em .4em;
}
th{
  background-color: var(--bg);
}
td button{
  border: none;
  border-radius: 10px;
  color: white;
  padding: .4em 1em;
  margin: .2em auto;
}
td .edit {
  background-color: var(--secondary);
}
td .hapus {
  background-color: var(--danger);
}
.opsi{
  display: inline-block;
  margin:0 1em;
}
.bawah{
  display: block;
  margin: 1em auto;
  text-align: center;
}
.tambah{
  padding: .5em 1em;
  background-color: var(--secondary);
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}